<div class="container">
    <div class="card">
        <div class="card-header" style="background-color: #76BA99;">
            <h4>Form Member</h4>
        </div>
        <div class="card-body">
            <form action="<%= targetRoute %>" method="post">
                Nama Member
                <input type="text" name="nama_member" id="nama_member" class="form-control" value="<%= nama_member %>" required />

                Alamat
                <input type="text" name="alamat" id="alamat" class="form-control" value="<%= alamat %>" required />

                Telepon
                <input type="number" name="telepon" id="telepon" class="form-control" value="<%= telepon %>" required />

                <button type="submit" class="btn btn-success mt-2">
                    Simpan
                </button>
            </form>
        </div>
    </div>
</div>