<div class="container-fluid vh-100 p-0"
    style="background: url('https://th.bing.com/th/id/R.332a4c503c34ff7b075122436bfc8dbf?rik=r7Jx9ePfOHiAVA&riu=http%3a%2f%2fanekatop10.com%2fwp-content%2fuploads%2f2015%2f06%2fTelur-rebus.jpg&ehk=aWN95ArRbhAtva8N3dPE2R7ryH1A%2bG3%2bqwDxKIhgCWo%3d&risl=&pid=ImgRaw&r=0');">
    <div class="w-100 h-100 bg-dark bg-opacity-75 d-flex justify-content-center align-items-center">
        <section id="hero" class="d-flex align-items-center justify-content-center" style="width: 100%; height: 80vh; background-size: cover; position: relative;">
            <div class="container position-relative">
              <h1>WELCOME TO EGG WORLD</h1>
              <h2>Eat Your Egg, Makes Your Day</h2>
              <a href="/transaksi/add" class="btn-get-started">Get Started</a>
            </div>
          </section>
    </div>
</div>

<style>
#hero .container {
  text-align: center;
  padding-top: 50px;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin: 15px 0 0 0;
  font-size: 22px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 9px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 40px;
  border: 2px solid #76BA99;
  color: #fff;
  
}

#hero .btn-get-started:hover {
  background: #76BA99;
}
</style>